
[V200R007C10SPC300]
#
 sysname AC1
#
 set memory-usage threshold 0
#
ssl renegotiation-rate 1 
#
vlan batch 10 20 30 40 50 60 73 83 100 to 105
#
authentication-profile name default_authen_profile
authentication-profile name dot1x_authen_profile
authentication-profile name mac_authen_profile
authentication-profile name portal_authen_profile
authentication-profile name macportal_authen_profile
#
diffserv domain default
#
radius-server template default
#
pki realm default
 rsa local-key-pair default
 enrollment self-signed
#
ike proposal default
 encryption-algorithm aes-256 
 dh group14 
 authentication-algorithm sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
#
free-rule-template name default_free_rule
#
portal-access-profile name portal_access_profile
#
aaa
 authentication-scheme default
 authentication-scheme radius
  authentication-mode radius
 authorization-scheme default
 accounting-scheme default
 domain default
  authentication-scheme radius
  radius-server default
 domain default_admin
  authentication-scheme default
 local-user admin password irreversible-cipher $1a$}/B8Znj]c=$6zOU5Q3WjDGaqS@LD$3#&94o'^Bc[:q\LLYeu{dH$
 local-user admin privilege level 15
 local-user admin service-type http
#
interface Vlanif100
 ip address 192.168.100.100 255.255.255.0
#
interface MEth0/0/1
 undo negotiation auto
 duplex half
#
interface GigabitEthernet0/0/1
 port link-type trunk
 port trunk allow-pass vlan 100 to 101
#
interface GigabitEthernet0/0/2
#
interface GigabitEthernet0/0/3
#
interface GigabitEthernet0/0/4
#
interface GigabitEthernet0/0/5
#
interface GigabitEthernet0/0/6
#
interface GigabitEthernet0/0/7
#
interface GigabitEthernet0/0/8
#
interface GigabitEthernet0/0/9
#
interface GigabitEthernet0/0/10
#
interface GigabitEthernet0/0/11
#
interface GigabitEthernet0/0/12
#
interface GigabitEthernet0/0/13
#
interface GigabitEthernet0/0/14
#
interface GigabitEthernet0/0/15
#
interface GigabitEthernet0/0/16
#
interface GigabitEthernet0/0/17
#
interface GigabitEthernet0/0/18
#
interface GigabitEthernet0/0/19
#
interface GigabitEthernet0/0/20
#
interface GigabitEthernet0/0/21
 undo negotiation auto
 duplex half
#
interface GigabitEthernet0/0/22
 undo negotiation auto
 duplex half
#
interface GigabitEthernet0/0/23
 undo negotiation auto
 duplex half
#
interface GigabitEthernet0/0/24
 undo negotiation auto
 duplex half
#
interface XGigabitEthernet0/0/1
#
interface XGigabitEthernet0/0/2
#
interface NULL0
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
ssh server secure-algorithms cipher aes256_ctr aes128_ctr
ssh server key-exchange dh_group14_sha1
ssh client secure-algorithms cipher aes256_ctr aes128_ctr
ssh client secure-algorithms hmac sha2_256
ssh client key-exchange dh_group14_sha1
#
ip route-static 0.0.0.0 0.0.0.0 192.168.100.254
#
capwap source interface vlanif100
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
 protocol inbound all
user-interface vty 16 20
 protocol inbound all
#
wlan
 traffic-profile name default
 security-profile name sec
  security wpa2 psk pass-phrase %^%#wL|XX"e",3)$)Q7-I~DOPz5c3V>n*9xZ2P)BYx0O%^%# aes
 security-profile name default
 security-profile name default-wds
 security-profile name default-mesh
 ssid-profile name ssid
  ssid Huawei
 ssid-profile name default
 vap-profile name vap
  service-vlan vlan-id 101
  ssid-profile ssid
  security-profile sec
 vap-profile name default
 wds-profile name default
 mesh-handover-profile name default
 mesh-profile name default
 regulatory-domain-profile name default
 air-scan-profile name default
 rrm-profile name default
 radio-2g-profile name default
 radio-5g-profile name default
 wids-spoof-profile name default
 wids-profile name default
 wireless-access-specification
 ap-system-profile name default
 port-link-profile name default
 wired-port-profile name default
 serial-profile name preset-enjoyor-toeap 
 ap auth-mode no-auth
 ap-group name default
  radio 0
   vap-profile vap wlan 1
  radio 1
   vap-profile vap wlan 1
  radio 2
   vap-profile vap wlan 1
 ap-id 0 type-id 69 ap-mac 00e0-fceb-19c0 ap-sn 210235448310A065A856
 ap-id 1 type-id 69 ap-mac 00e0-fc58-6cb0 ap-sn 2102354483100759317E
 ap-id 2 type-id 69 ap-mac 00e0-fc4f-7f20 ap-sn 2102354483108E38D732
 ap-id 3 type-id 69 ap-mac 00e0-fccd-39b0 ap-sn 210235448310BA6BCC10
 ap-id 4 type-id 69 ap-mac 00e0-fcee-40d0 ap-sn 21023544831016149E5C
 ap-id 5 type-id 69 ap-mac 00e0-fcda-40b0 ap-sn 210235448310AE24F53F
 provision-ap
#
dot1x-access-profile name dot1x_access_profile
#
mac-access-profile name mac_access_profile
#
return